<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Stats!</title>
</head>
<body>
    <h1>Your Stats!</h1>
    <div id="artist-area">
        <div id="artist">
            <span id="artist-image"></span>
            <p id="artist-name"></p>
        </div>
    </div>
    <div id="track-area">
        <div>
            <span id="album-image"></span>
            <p id="track-name"></p>
            <p id="track-artist"></p>
        </div>
    </div>

    <form name="data-selection" id="data-selection">
        <label for="data-type">See your Top Artists or Top Tracks?</label>

        <select name="data-type" id="data-type">
            <option value="artists">Top Artists</option>
            <option value="tracks">Top Tracks</option>
        </select>
        <select name="data-time" id="data-time">
            <option value="long_term">Past year</option>
            <option value="medium_term">Past 6 months</option>
            <option value="short_term">Past 4 weeks</option>
        </select>

        <button type="submit" id="data-submit">Submit!</button>
    </form>

    <script src="/src/script.js" type="module"></script>
</body>
</html>